---
---

@import "{{ site.theme }}";
#forkme_banner{display: none !important;}
/*.TopMenu{
  color: #373737;
  padding: 5px;
}*/
a:hover{
text-decoration: none;
}
h1{
background: url("../images/bg_hr.png") repeat-x bottom;
}
h2{
  border-left: {6px solid rgba(39,174,96,0.5)}
}
#MenuItem1{}
img{
  height: 150px;
}
ul{list-style: none;}
#project_title{
margin-top: 5%;
color: #fff;
font-size: 42px;
font-weight: 700;
text-shadow: #111 0px 0px 10px;
}
.container{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
/* 
TOP MENU CSS STARS HERE
*/
.TopMenu{
 display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0;
}
.TopMenu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.TopMenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}
.TopMenu a {
  padding: 0 0.7em;
  color: #222222;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.TopMenu a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid #27ae60;
  border-right: 3px solid #27ae60;
}
.TopMenu a:hover,
.TopMenu .current a {
}
.TopMenu a:hover:before,
.TopMenu .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}/* 
TOP MENU CSS ENDS HERE
*/
