---
---

@import "{{ site.theme }}";
#forkme_banner{display: none !important;}
.TopMenu{
  color: #373737;
  border-width: 2px;
  padding: 5px;
}
#MenuItem1{border: solid;}
img{
  height: 50px;
  width: 50px;
}
